</div>
    <div class="slogan">
        <h1>Bitcoin at your fingertips</h1>
    </div>
    <div class="containerlogo">
        <img src="dark-logo.png" class="logo">
    </div>
</div>
{{!-- <footer class="footer navbar-fixed-bottom">
    <a href="https://www.vecteezy.com" title="image credits" target="_blank" style="font-size: 16px">Imagine Credit</a>
</footer> --}}

<!-- Footer -->
<footer class="page-footer font-small blue fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Background Image :
    <a href="https://www.vecteezy.com" title="image credits" target="_blank" style="font-size: 16px">Credit</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->